<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
  <meta charset="UTF-8">
  <title>BTN_GROUP</title>


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- 图标库参见：https://fontawesome.com/icons?d=gallery -->

</head>

<body>
  <div class="menu">
    <div class="btn trigger">
      <span class="line"></span>
    </div>
    <div class="icons">
      <div class="rotater">
        <div title="算法1" class="btn btn-icon" data="1">
          <i class="fas fa-file-archive"></i>
        </div>
      </div>
      <div class="rotater">
        <div title="算法2" class="btn btn-icon" data="2">
          <i class="fas fa-file-alt"></i>
        </div>
      </div>
      <div class="rotater">
        <div title="算法3" class="btn btn-icon" data="3">
          <i class="fas fa-file-image"></i>
        </div>
      </div>
      <div class="rotater">
        <div title="算法4" class="btn btn-icon" data="4">
          <i class="fas fa-file-excel"></i>
        </div>
      </div>
      <div class="rotater">
        <div title="算法5" class="btn btn-icon" data="5">
          <i class="fas fa-save"></i>
        </div>
      </div>
      <div class="rotater">
        <div title="算法6" class="btn btn-icon" data="6">
          <i class="fas fa-file-code"></i>
        </div>
      </div>
      <div class="rotater">
        <div title="算法7" class="btn btn-icon" data="7">
          <i class="fas fa-file-alt"></i>
        </div>
      </div>
      <div class="rotater">
        <div title="算法8" class="btn btn-icon" data="8">
          <i class="fas fa-file-word"></i>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>

</body>

</html>