<!DOCTYPE html>
<html lang="zh">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CXLM</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataShow.css' %}">
    <link rel="stylesheet prefetch" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fileinput.min.css' %}">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.13.1/bootstrap-table.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'pic/favicon.ico' %}" type="image/x-icon">
</head>

<body>

{#    历史记录弹窗#}
<!-- Modal For todo Plugin -->
    <div class="modal fade" id="historyModalLabel" role="dialog" aria-labelledby="todoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="historyTitle">Change Me!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false">&times;</span>
                    </button>
                </div>

                <div class="modal-body scroll-area" id="historyModalDiv">
                    <!-- 由js生成列表 -->
                </div>
            </div>
        </div>
    </div>

    <!-- 这个是画布 -->
{#    <div id="canvas"></div>#}
    <!-- title and tool bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Icon and text -->
        <a class="navbar-brand" href="index.html">
            <img src="{% static 'pic/favicon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            CXLM
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Function list and expand function location -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-pos">
                <li class="nav-item">
                    <a class="nav-link" onclick="his();" href="#">History</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Active<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Function
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Func1</a>
                        <a class="dropdown-item" href="#">Func2</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Func3</a>
                    </div>
                </li>
            </ul>
        </div>

        <!-- File Input, DOC: https://github.com/kartik-v/bootstrap-fileinput/wiki -->
        <form onsubmit="return checkLength()" class="form-inline my-2 my-lg-0"  method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="" type="file" name="file_name" id="toUpload" value="put your file here(.txt/.xls)" aria-label="File">
            <button type="submit" class="btn btn-outline-success" ><i class="icon-upload-alt"></i> UpLoad</button>
        </form>
    </nav>


    <!-- main content -->
    <div class="container-fluid h-100 yscroll">
        <div class="row">
            <div class="col">
                <iframe class="btn-frame" frameborder="0" scrolling="no" src="{% url 'btn_group' %}"></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <iframe id="showHtml" style="height: 800px;" class="btn-frame" frameborder="0" scrolling="no" src="{% url 'show_html' %}"></iframe>
            </div>
        </div>

        <div class="row h-adj">
            <div class="col m-2 gra-con">
                <table id="tableLeft"></table>
            </div>
            <div class="col m-2 gra-con">
                <table id="tableRight"></table>
            </div>
        </div>
		<br /><br /><br />
    </div>

    <!-- Modal section -->
    <!-- 算法1 -->
    <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel1">
                        算法1
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                </div>
                <form onsubmit="return true" id="form1">
                    <div class="modal-body">
                        <div class="form-group">
                            {#选项#}
                            <input type="hidden" name="choice" value="1"/>
                            <label for="n_c">n_c</label>
                            <input name="n_c" type="text" class="form-control" id="n_c" placeholder="n_c">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="SubmitModal1">
                            提交
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal With Form -->
    <!-- 算法2 -->
    <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel2">
                        算法2
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                </div>
                <form onsubmit="return false" id="form2">
                    <div class="modal-body">
                        <input type="hidden" name="choice" value="2"/>
                        <div class="form-group">
                            <label for="components_ratio">components_ratio</label>
                            <input name="components_ratio" type="text" class="form-control" id="components_ratio"
                                aria-describedby="components_ratioHelp" placeholder="components_ratio">
                            <small id="components_ratioHelp" class="form-text text-muted">components_ratioHelp的参数说明</small>
                        </div>
                        <div class="form-group">
                            <label for="components_n">components_n</label>
                            <input name="components_n" type="text" class="form-control" id="components_n"
                                placeholder="components_n">
                        </div>
                        <div class="form-group">
                            <label for="other">other</label>
                            <input name="other" type="text" class="form-control" id="other"
                                placeholder="other">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="SubmitModal2">
                            提交
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 算法3 -->
    <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel3">
                        算法3
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                </div>
                <form onsubmit="return false" id="form3">
                    <div class="modal-body">
                        <input type="hidden" name="choice" value="3"/>
                        <div class="form-group">
                            <label for="guss_choice">guss_choice</label>
                            <input name="guss_choice" type="text" class="form-control" id="guss_choice"
                                aria-describedby="guss_choiceHelp" placeholder="guss_choice">
                            <small id="guss_choiceHelp" class="form-text text-muted">guss_choice的参数说明</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="SubmitModal3">
                            提交
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 算法4 -->
    <div class="modal fade" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel4">
                        算法4
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                </div>
                <form onsubmit="return false" id="form4">
                    <div class="modal-body">
                        <input type="hidden" name="choice" value="4"/>
                        <div class="form-group">
                            <label for="data_place">data_place</label>
                            <input name="data_place" type="text" class="form-control" id="data_place"
                                aria-describedby="data_placeHelp" placeholder="data_place">
                            <small id="data_placeHelp" class="form-text text-muted">data_place的参数说明</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="SubmitModal4">
                            提交
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="Modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel3">
                        算法5
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                </div>
                <form onsubmit="return false" id="form5">
                    <div class="modal-body">
                        <input type="hidden" name="choice" value="5"/>
                        <h5>貌似不需要其他参数</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="SubmitModal5">
                            提交
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="Modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel6">
                        算法6
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                </div>
                <form onsubmit="return false" id="form6">
                    <div class="modal-body">
                        <input type="hidden" name="choice" value="6"/>
                        <div class="form-group">
                            <label for="mst_choice">mst_choice</label>
                            <input name="mst_choice" type="text" class="form-control" id="mst_choice"
                                aria-describedby="mst_choiceHelp" placeholder="mst_choice">
                            <small id="mst_choiceHelp" class="form-text text-muted">mst_choice的参数说明</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="SubmitModal6">
                            提交
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="Modal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel7" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel7">
                        算法7
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                </div>
                <form onsubmit="return false" id="form7">
                    <div class="modal-body">
                        <input type="hidden" name="choice" value="7"/>
                        <div class="form-group">
                            <label for="num">num</label>
                            <input name="num" type="text" class="form-control" id="num"
                                aria-describedby="numHelp" placeholder="num">
                            <small id="numHelp" class="form-text text-muted">num的参数说明</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="SubmitModal7">
                            提交
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="Modal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel8">
                        算法8
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                </div>
                <form onsubmit="return false" id="form8">
                    <div class="modal-body">
                        <input type="hidden" name="choice" value="8"/>
                        <h5>没有找到算法8的声明</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="SubmitModal8">
                            提交
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie-1.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.13.1/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.13.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="{% static 'js/fileinput.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/file-zh.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'js/fire.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'js/dataShow.js' %}"></script>

    <script type="text/javascript">

        //document.getElementById("showHtml").contentWindow.location.reload(true);
        let iframe = $('#showHtml');

        /** 替换图表 */
        var showFrame = function(src){
            console.log(src);
            {#let ind = src.indexOf('_tu/')+4;#}
            iframe.attr("src", '/show_html1/'+src).then(resizeIframe);
        };

        /** 重设图表居中 */
        let resizeIframe = function(){
            let width = iframe.contents().find("html").width();
            let per = ((width-800) / 2) / width *100;
            iframe.css("padding-left", per+"%");
            /*let hei = iframe.contents().find("html").height();
            console.log(hei)
            iframe.height(hei);*/
        };

        resizeIframe();

        /** 生成历史记录 */
        var his = function () {
            let titleObj = $("#historyTitle");
            {% autoescape off %}
                let showObj = {{ history }};
            {% endautoescape %}
            titleObj.html("历史记录");
            $("#historyModalLabel").modal();
            let modalDiv = $("#historyModalDiv");
            modalDiv.html(''); // 清空原有内容
            let ul = $(`<ul class="list-group list-group-flush">`);
            for (key in showObj) {
                let ele=showObj[key];
                ul.append(`<li onclick="showFrame('`+ele.history_data_html+`')" class="list-group-item cur-pointer"><a>`
                    + `文件名` + `<span class="float-right text-muted">` + ele.history_date + `</span></li>`)
            }
            if (!showObj.length) {
                ul.append(`<li class="list-group-item">Empty</li>`);
            }
            modalDiv.append(ul);
        };

        var renderTab = function(){
            /** 表格语言可以切换为中文 */
            {% autoescape off %}
            let dataArr = {{ list_dict_data }};
            {% endautoescape %}
                /*[{
                "name": "liuチルノ",
                "skill": "操纵冷气程度的能力",
                "age": 60,
                "home": "霧の湖",
                "color": "blue"
            }, {
                "name": "レミリア・スカーレット",
                "skill": "操纵冷气程度的能力",
                "age": 500,
                "home": "紅魔館",
                "color": "RED"
            }, {
                "name": "フランドール・スカーレット",
                "skill": "操纵冷气程度的能力",
                "age": 495,
                "home": "紅魔館",
                "color": "blue"
            }, {
                "name": "古明地こいし",
                "skill": "操纵冷气程度的能力",
                "age": 0,
                "home": "地霊殿",
                "color": "GREEN"
            }, {
                "name": "古明地さとり",
                "skill": "操纵冷气程度的能力",
                "age": 0,
                "home": "地霊殿",
                "color": "PURPLE"
            }];*/
            let tabConfig = {
                data: dataArr,
                striped: true, //是否显示行间隔色
                pageNumber: 1, //初始化加载第一页
                pagination: true, //是否分页
                sidePagination: 'client', //server:服务器端分页|client：前端分页
                pageSize: 4, //单页记录数
                columns: [{
                    field: 'c1',
                    title: 'COL1',
                }, {
                    field: 'c2',
                    title: 'COL2'
                }, {
                    field: 'c3',
                    title: 'COL3',
                    sortable: true
                }, {
                    field: 'c4',
                    title: 'COL4'
                }]
            };
            $("#tableLeft").bootstrapTable(tabConfig);
            $("#tableRight").bootstrapTable(tabConfig);
        }

        renderTab();

    </script>
</body>

</html>